<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="homeEvents">Home Events</a>
          </li>
        
         
          <li class="nav-item">
            <a class="nav-link" href="create">Create Events</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="room">The Auction Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="moneyChange">BUY Coins</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="sell">Sell Coins</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">logout</a>
          </li>
          
        </ul>
        
          
            <!-- <h3 class="nav-item" class="nav-link" >My Balance is {{this.data}} </h3> -->
            <h3  class="profilName" >{{profilName}} 🟢 </h3>    
      </div>
    </div>
  </nav>

