<div><app-user-navbar></app-user-navbar></div>
<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Create New Event</h1>
                        </div>
                    </div>
                    
                        <div class="form-group">
                            <label >Add The title of your product</label>
                            <input type="text" [(ngModel)]="title"  class="form-control" placeholder="Exp: House ,Car ,Watch..." />
                        </div>
                        <div class="form-group">
                            <label >Descriptions</label>
                            <input type="text"  class="form-control" [(ngModel)]="descriptions" placeholder="Describe your product" />
                        </div>
                        <div class="form-group">
                            <label >Add Images of your products</label>
                            <input type="text" [(ngModel)]="img" placeholder="Link the url" class="form-control"  />
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">DT</span>
                            </div>
                            <input type="text" [(ngModel)]="startPrice" class="form-control" placeholder="Start Price" >
                            <div class="input-group-append">
                              <span class="input-group-text">.000</span>
                            </div>
                          </div>
                        <div class="form-group">
                            <label>Date of the Event :</label>
                            <input type="date"  [(ngModel)]="startDate" />
                          </div>
                        <div class="form-group">
                            <p class="text-center">We will send email to confirm your Product </p>
                        </div>
                        <div class="col-md-12 text-center">
                            <a href="homeEvents" type="submit" (click)="create()" class="btn btn-block mybtn btn-primary tx-tfm">
                                Create your event
                            </a>
                        </div>
                        <div class="col-md-12">
                            <div class="login-or">
                                <hr class="hr-or" />
                            </div>
                        </div>
                        <div class="col-md-12 mb-3"></div>
                        <div class="form-group">
                            <p class="text-center">
                                Don't have account? <a href="signup">Sign up here</a>
                            </p>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
