<div><app-navbar></app-navbar></div>
 <div class="container p-3 my-3"> 
    <div class="row">
        <div class="col">
            <h2>Register</h2>
            <form (ngSubmit)="onRegisterSubmit(); registerForm.reset();" #registerForm="ngForm">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" placeholder="Enter your name" id="name" required minlength="8" [(ngModel)]="model.name" name="name" #name="ngModel">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <!-- <div *ngIf="name.errors['required']">Name is required.</div> -->
                    <!-- <div *ngIf="name.errors.minlength">Name must be at least 8 characters long.</div> -->
                  </div>
                </div>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" placeholder="Enter your username" id="username" required minlength="8" [(ngModel)]="model.username" name="username" #username="ngModel">
                  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <!-- <div *ngIf="username.errors.required">Username is required.</div> -->
                    <!-- <div *ngIf="username.errors.minlength">Username must be at least 8 characters long.</div> -->
                  </div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" placeholder="Enter your email address" id="email" required email [(ngModel)]="model.email" name="email" #email="ngModel">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                      <!-- <div *ngIf="email.errors.required">Email address is required.</div> -->
                      <!-- <div *ngIf="email.errors.email">It is not a valid email address format.</div> -->
                    </div>
                  </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter your password" id="password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" [(ngModel)]="model.password" name="password" #password="ngModel">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                      <!-- <div *ngIf="password.errors.required">Password is required.</div>
                      <div *ngIf="password.errors.pattern">Password shall contain an uppercase, a lowercase and one numerical or special characters. Length must be minimum 8 characters.</div> -->
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid" (click)='forgot()' >Submit</button>
                

              </form>
              <!-- <button type="butoon" (click)='forgot()' class="btn btn-primary" [disabled]="!registerForm.form.valid"  >Submit</button> -->

        </div>
    </div>
</div> 
