<div><app-user-navbar></app-user-navbar></div>
<router-outlet></router-outlet>
<div class="navbar navbar-expand-sm bg-dark navbar-dark" >
    <h1 style="color:white">The Event Screen</h1>
    
  </div>

<div class="container mt-3">
    <input
    class="form-control"
    [(ngModel)]="newMessage"
    placeholder="Bid"
    (keyup)="$event.keyCode == 13 && sendMessage()"
  />
  <button class="btn btn-primary" (click)="sendMessage()">Bid Now</button>
  <h1 class="card-text" *ngIf="winner">
    Congratulation the winner is:<br>" {{ winner }} "
    <img
      style="width: 400px"
      class="card-img-top"
      src="../../assets/555555.png"
      alt="Card image"
    />
  </h1>
  <h3 style="color:red" *ngIf="counter">Time  :{{ counter }} </h3>
  
  <tr *ngIf="loadList[0]">
      <h2>
        <td>The Greatest Bid <br> {{ loadList[0].message | currency:"TND ":'symbol':'3.0' }}</td>
        
      </h2>
    
  </tr>
 
  <table class="table">
    <thead>
      <tr>
        <th>The Player</th>
        <th>Money</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let load of loadList.reverse()">
        <td>{{ load.user.user.username }}</td>
        <td>{{ load.message }}DT</td>
      </tr>
     
    </tbody>
  </table>
</div>


