<div class="container">
    <article class="card-body mx-auto" style="max-width: 400px">
        <h4 class="card-title mt-3 text-center">Registre Account</h4>
        <p class="text-center">Get started with your free account</p>

        <form>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="firstName" class="form-control" placeholder="Enter first name" />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="password" class="form-control" placeholder="Enter last name" />
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Password" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Comfirm Your Password" />
            </div>
            <div class="form-group">
                <p class="text-center">By sign-up you accept our Terms Of Use</p>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" (click)="send()" class="btn btn-block mybtn btn-primary tx-tfm"> Registre</button>
            </div>
            <hr class="hr-or" />

            <div class="form-group">
                <p class="text-center">
                    You have account? <a href="login">Login here</a>
                </p>
            </div>
        </form>
    </article>
</div>