<div><app-user-navbar></app-user-navbar></div>
<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="https://ca.slack-edge.com/T02E5DNSTR6-U02D3CEBNR5-578b95b59208-512" alt="" class="profile">
                    <div class="pt-3 text-uppercase name"> Tababi Ghassane  </div>
                    <div class="designation">Full stack Developer</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> I made bacck the purchase price in just 48 hours! Thank you for making it pain less, pleasant. The service was execellent. I will refer everyone I know. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.6435-1/p240x240/82421854_2801758283206344_5253089532399583232_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=7206a8&_nc_ohc=8avAuO963iwAX9cRnxm&_nc_ht=scontent.fnbe1-2.fna&oh=00_AT_n-VYQ_bQoHCg12pU-SHJoNk0a-Ea_V_7AgrC0ChIcYw&oe=61E477E2" alt="" class="profile">
                    <div class="pt-3 text-uppercase name"> Jridi Aladin </div>
                    <div class="designation">Full stack Developer</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> I made bacck the purchase price in just 48 hours! Thank you for making it pain less, pleasant. The service was execellent. I will refer everyone I know. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.6435-1/p320x320/53561730_2238049206251330_8295746640942202880_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=7206a8&_nc_ohc=Bk1I4bfW54wAX9TLyqU&_nc_ht=scontent.fnbe1-2.fna&oh=00_AT-TXUPAFMfDGY1KP578e2Lm2Y2fjb00b2OboiyTWIRwtw&oe=61E56D41" alt="" class="profile">
                    <div class="pt-3 text-uppercase name"> Hamami Amir </div>
                    <div class="designation">Full stack Developer</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> I made bacck the purchase price in just 48 hours! Thank you for making it pain less, pleasant. The service was execellent. I will refer everyone I know. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="https://ca.slack-edge.com/T02E5DNSTR6-U02E5F7CZRN-db76b7591965-512" alt="" class="profile">
                    <div class="pt-3 text-uppercase name"> Ghaoui Bechir </div>
                    <div class="designation">Full Stack Developer</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> Really good, you have saved our business! I made bacck the purchase price in just 48 hours! man, this thing is getting better and better as I learn more about it. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="https://images.unsplash.com/photo-1614574762522-6ac2fbba2208?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjY2fHxtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="profile">
                    <div class="pt-3 text-uppercase name"> REZGUI Mohamed </div>
                    <div class="designation">Full stack Developer</div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> Account keeper is the most valuable business research we have EVER purchased. Without electrician, we would ahave gone bankrupt by now. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>